<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<h2>* 상품 정보(페이징) *</h2>
<div style="width: 70%; text-align: right;">
	<a href="/sangpum/insert">상품 추가</a>
</div>
<br>
<table class="table" style="width: 80%">
  <tr>
  	<th>코드</th><th>품명</th><th>수량</th><th>단가</th>
  </tr>
  {% if sangpums %}
  {% for s in sangpums %}
  <tr>
  	<td>{{s.code}}</td>
  	<td>{{s.sang}}</td>
  	<td>{{s.su}}</td>
  	<td>{{s.dan}}</td>
  	<td>{{s.dan}}</td>
  	<td>
  		<a href="/sangpum/update?code={{s.code}}">수정</a> /
  		<a href="/sangpum/delete?code={{s.code}}">삭제</a>
  	</td>
  </tr>
  {% endfor %}
  <tr>
  	<td colspan="6" style="text-align: center;">
  		{% if sangpums.paginator.num_pages > 1 %}
  		<div>
  			{% if sangpums.has_previous %}
  				<a href="/sangpum/list?page={{sangpums.previous_page_number}}">&laquo;이전</a>
  			{% endif %}
  			
  			{% if sangpums.has_next %}
  				<a href="/sangpum/list?page={{sangpums.next_page_number}}">다음&raquo;</a>
  			{% endif %}
  			&nbsp;&nbsp;(페이지 : {{sangpums.number}} / {{sangpums.paginator.num_pages}})
  		</div>
  		{% endif %}
  	</td>
  </tr>
  <tr>
  	<td colspan="6" style="text-align: center;">
  		<div>
  		{% for p in allPage %}
  		  {% if p > 0 %}
  		  	{% if p == sangpums.number %}
  		  		[{{p}}]
  		  	{% elif p != sangpums.number %}
  		  		<a href="/sangpum/list?page={{p}}"> {{p}} </a>
  		  	{% endif %}
  		  {% endif %}
  		{% endfor %}
  		</div>
  	</td>
  </tr>
  {% endif %}
</table>
</body>
</html>




