<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>* 소비자 인식조사 결과 *</h3>
{{ctab2|safe}}
<br>
검정 1 : 성별에 따라  스타벅스 커피에 대한 만족도에 차이가 있는가?<br>
p값이 {{p}} 이므로 0.05 {{ans}} 의 값을 가지므로 <br>
성별에 따라  스타벅스 커피에 대한 만족도에 {{dif}}<br>
<img src = "/static/images/bar.png" width = "60%"/><br><br>
검정 2 : 직업에 따라  스타벅스 커피에 대한 만족도에 차이가 있는가?<br>
p값이 {{p_val}} 이므로 0.05 {{ans2}} 의 값을 가지므로 <br>
성별에 따라  스타벅스 커피에 대한 만족도에 {{dif2}}<br>
<img src = "/static/images/pie.png" width = "60%"/><br><br>



<a href="/myapp/insert/">다시 설문조사 하기</a>
</body>
</html>